body {
  background-color: #F8F9FA !important;
  margin: 0%;
  padding: 0%;
}

h1 {
  font-family: 'Raleway', sans-serif;
  font-weight: 300 !important;
}

.container {
  margin-top: 20vh;
}

.cryptoNames {
  margin-bottom: 5%;
}

.cryptoPrices {
  font-family: 'Work Sans', sans-serif;
  margin-bottom: -1%;
}

#btc24 {
  font-family: 'Work Sans', sans-serif;
  font-size: 1.25vw;
}

#eth24 {
  font-family: 'Work Sans', sans-serif;
  font-size: 1.25vw;
}

#ltc24 {
  font-family: 'Work Sans', sans-serif;
  font-size: 1.25vw;
}

#timeFrame {
  font-family: 'Work Sans', sans-serif;
  font-size: 0.8vw;
}

#cryptoLogo {
  margin-bottom: 4%;
}

.navBar {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.25rem;
  width: 100%;
  margin-top: 0vh !important;
  margin-left: 0%;
  margin-right: 0%;
}

.heading {
  font-size: 18px;
  text-align: center;
  font-family: 'Raleway', sans-serif;
}

#row-1 {
  text-align: center;
}


/* responsive */
.collapse:not(.show) {
  display: block !important;
}


@media (min-width: 1px){
  .navBar{
    font-size: 0.75rem;
  }

  #cryptoLogo {
    max-width: 6vw;
  }

  .cryptoNames {
    font-size: 1.25vw;
  }

  .cryptoPrices {
    font-size: 2vw;
  }
}

@media (min-width: 400px){
  .navBar{
    font-size: 1rem;
  }

  #cryptoLogo {
    max-width: 6vw;
  }

  .cryptoNames {
    font-size: 1.25vw;
  }

  .cryptoPrices {
    font-size: 2vw;
  }
}

@media (min-width: 768px){
  .navBar{
    font-size: 1.5rem;
  }

  #cryptoLogo {
    max-width: 6vw;
  }

  .cryptoNames {
    font-size: 1.25vw;
  }

  .cryptoPrices {
    font-size: 2vw;
  }
}

@media (min-width: 1000px){
  .navBar{
    font-size: 1.75rem;
  }

  #cryptoLogo {
    max-width: 6vw;
  }

  .cryptoNames {
    font-size: 1.75vw;
  }
  
  .cryptoPrices {
    font-size: 2vw;
  }
}
