body {
  background-color: #F8F9FA !important;
  margin: 0%;
  padding: 0%;
}

h1 {
  font-family: 'Raleway', sans-serif;
  font-weight: 300 !important;
}

.navBar {
  position: absolute;
  border-bottom: 1px solid #7c7c7c;
}

.container {
  margin-top: 20vh;
}

.cryptoPrices {
  font-family: 'Work Sans', sans-serif;
  margin-bottom: -1%;
}

#btc24 {
  font-family: 'Work Sans', sans-serif;
  font-size: 1.25rem;
}

#eth24 {
  font-family: 'Work Sans', sans-serif;
  font-size: 1.25rem;
}

#ltc24 {
  font-family: 'Work Sans', sans-serif;
  font-size: 1.25rem;
}

#timeFrame {
  font-family: 'Work Sans', sans-serif;
  font-size: 0.8rem;
  margin-bottom: 7.5%;
}

#cryptoLogo {
  margin-bottom: 4%;
}

.navBar {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.25rem;
  width: 100%;
  margin-top: 0vh !important;
  margin-left: 0%;
  margin-right: 0%;
}

.heading {
  font-size: 18px;
  text-align: center;
  font-family: 'Raleway', sans-serif;
}

#row-1 {
  text-align: center;
}


/* responsive */
.collapse:not(.show) {
  display: block !important;
}

@media (min-width: 1px){
  .navBar{
    font-size: 1rem;
  }

  .container {
    margin-top: 3vh;
  }

  #cryptoLogo {
    max-width: 4rem;
    margin-bottom: 1%;
  }

  .cryptoNames {
    font-size: 1rem;
  }

  .cryptoPrices {
    font-size: 1.5rem;
  }
}

@media (min-width: 400px){
  .navBar{
    font-size: 1rem;
  }

  .container {
    margin-top: 3vh;
  }

  #cryptoLogo {
    max-width: 6rem;
    margin-bottom: 1%;
  }

  .cryptoNames {
    font-size: 1.25rem;
  }

  .cryptoPrices {
    font-size: 2rem;
  }
}

@media (min-width: 768px){

  .navBar{
    font-size: 1.5rem;
  }

  .container {
    margin-top: 10vh;
  }

  #cryptoLogo {
    max-width: 6rem;
    margin-bottom: 1%;
  }

  .cryptoNames {
    font-size: 1.75rem;
    margin-bottom: 5%;
  }

  .cryptoPrices {
    font-size: 2rem;
  }
}

@media (min-width: 992px){
  .navBar{
    font-size: 1.5rem;
  }

  .container {
    margin-top: 20vh;
  }

  #cryptoLogo {
    max-width: 6rem;
  }

  .cryptoNames {
    font-size: 1.75rem;
    margin-bottom: 2%;
  }

  .cryptoPrices {
    font-size: 2rem;
  }
}

@media (min-width: 1200px){
  .navBar{
    font-size: 2rem;
  }

  .container {
    margin-top: 20vh;
  }

  .cryptoNames {
    font-size: 1.75rem;
    margin-bottom: 2%;
  }

  #cryptoLogo {
    max-width: 6rem;
  }
  
  .cryptoPrices {
    font-size: 2rem;
  }
}
